.key {
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    line-height: 2;
    vertical-align: middle;
    color: #fff;
    background: radial-gradient(ellipse at center, #333 0%, #222 100%);
    margin: 0.4vh;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.pressed {
        transform: scale(1.05);
        background: radial-gradient(
            ellipse at center,
            #368b44 0%,
            #151515 100%
        );
        color: #ddd;
        text-shadow: 0 0 0.5vh #999;
    }

    &.single {
        line-height: 2;
        padding-top: 0.5vh;
    }

    &.multi {
        line-height: 2;
        padding-top: 0.5vh;
    }

    &.shift {
        width: 300%;
    }

    &.space {
        width: 700%;
    }

    &.backspace {
        width: 200%;
    }

    &.enter {
        width: 200%;
    }

    &.tab {
        width: 180%;
    }

    &.capslock {
        width: 200%;
    }
}
